.menu-list{
    width: 250px;
    height: 100px;
    line-height: 1.8rem;
}

.menu-popper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.menu-popper button{
    background-color: white;
}


// Header

.header{
    display: flex;
    position: relative;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.back-btn{
    width: 50px;
    height: 100%;
    cursor: pointer;
    border: none;

}

.Header-title{
    position: absolute;
   transform: translateX(120%);
}

.icon-back{
    width: 30px;
    height: 100%;
}