.wrapper{
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.inner{
    padding: 0px 24px;
    height: 100%;
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}




.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-btn{
    border: none;
    font-size: 2rem;
    margin-left: 26px;
    background-color: transparent;
    cursor: pointer;
}

